body {
  font-family: roboto, san sans-serif;
  background: #cedae9;
}
a {
  color: plum;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: #27296d;
  padding: 20px;
  box-shadow: 5px 5px 5px whitesmoke;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}

select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 17px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 30px 0;
  border-bottom: 1px dashed grey;
  color: white;
}

.city:last-child {
  border-bottom: none;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

.date {
  opacity: 0.8;
}

.time {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
}

footer {
  text-align: center;
  color: navy;
}
